@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@import "tailwindcss";

html {
  font-family: 'Poppins', sans-serif;
}

:root {
  --primary-color: #1E3A8A;  
  --secondary-color: #14B8A6; 
  --background-color: #E5E7EB; 
}


.text-primary {
  color: var(--primary-color);
}

.bg-primary {
  background-color: var(--primary-color);
}

.text-secondary {
  color: var(--secondary-color);
}

.bg-secondary {
  background-color: var(--secondary-color);
}

.bg-light {
  background-color: var(--background-color);
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.scrollbar-hidden {
  -ms-overflow-style: none;  
  scrollbar-width: none; 
}
